streamlit
langchain>=0.3.0
langchain-core>=0.3.0
langchain-community>=0.3.0
langchain-text-splitters>=0.3.0
langchain-upstage>=0.3.0
langchain-openai>=0.3.0
python-dotenv
tiktoken

# pinecone 관련은 이것만!
pinecone-client==2.2.4
langchain-pinecone==0.1.0